.header-container{
    text-align: center;
    padding-top: 8px;
}

.header-container h1{
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    margin-top: 0;
    letter-spacing: 8px;
    margin-bottom: 20px;
    display: inline-block;
    transition: transform 0.8s ease;
    
}

.header-container h1:hover{
    transform:scaleX(1.1);
}

.header-container p{
    font-size: 22px;
    letter-spacing: 8px;
    word-spacing: 4px;
    margin-bottom: 8px;
    font-family: 'AvenirLTW01-35Light','Avenir', sans-serif;
}

.blogPic{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 450px;
    /* margin-bottom: 0; */
}

.blogMetaData{
    font-family: 'AvenirLTW01-35Light','Avenir', sans-serif;
    font-weight: lighter;
    font-size: small;
    padding: 0;
    /* margin-top: 20px; */
    margin: 0;
    border: 1px solid red;
    display: inline-block;
    color: #333;
    /* margin: 0; */
}
