.header-container{
    text-align: center;
    padding-top: 8px;
}

.header-container h1{
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    margin-top: 0;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.header-container p{
    font-size: 22px;
    letter-spacing: 8px;
    word-spacing: 4px;
    margin-bottom: 8px;
    font-family: 'AvenirLTW01-35Light','Avenir', sans-serif;
}