.journalCardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 1.5rem;
  padding: 20px;
  font-family: 'AvenirLTW01-35Light', 'Avenir', sans-serif;
  margin: 20px;
}

.journalCard {
  border: 1px solid black;
  /* border: 1px solid #ddd; */
  /* border-radius: 12px; */
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.2s ease;
}

.journalCard:hover {
  transform: translateY(-5px);
}

.cardCover {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.cardContent {
  padding: 16px;
}




.cardMeta {
  font-size: 0.85rem;
  color: #666;
  margin-bottom: 0.75rem;
}

.cardExcerpt {
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.readMore h2{
  font-weight: bold;
  /* text-decoration: none; */
  color: #000000;
}

.readMore:hover{
  color: antiquewhite;
}

.cardTitle{
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  color: black;
}
